<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Contact Page</title>
</head>

<body>
	
	<h4>Link URL Expression</h4>
	<a href="#" th:href="@{/home}">Home</a>
	<hr> 	
	<h4>Accessing rest api using PathVariable</h4>
	<a href="#" th:href="@{/emp/101}">Get employee</a>
	<hr> 	
	<h4>Accessing rest api using dymamic data</h4>
	<a href="#" th:href="@{/emp/{empId}(empId=${EID})}">Get employee-dynamic</a>
	<hr> 	
	<h4>Accessing rest api using query parameter</h4>
	<a href="#" th:href="@{/emp(empId=${1500})}">Get employee-query param</a>
</body>

</html>